<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.customsolutions.android.utl"
    >

    <!-- Permissions requiring user approval: -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" android:minSdkVersion="33"/>

    <!-- Other Permissions: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" android:minSdkVersion="28"/>

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Don't show this app on the Play Store for iOS: -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <uses-library android:name="com.google.android.wearable" android:required="false" />

        <activity
            android:name="com.customsolutions.android.utl.Snoozer"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/app_name"
            android:taskAffinity=""
        >
            <intent-filter>
                <action android:name="com.customsolutions.android.utl.ACTION_SNOOZE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".HandsetService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
                <data android:scheme="wear" android:host="*" />
            </intent-filter>
        </service>

        <activity
            android:name="com.customsolutions.android.utl.MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/Theme.App.Starting"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.customsolutions.android.utl.VoiceCommandProcessing"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="com.google.android.voicesearch.SELF_NOTE" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity android:name='android.support.wearable.activity.ConfirmationActivity' />
        <activity android:name='.VoiceCommandError' />
        <activity android:name='.TaskList' />
    </application>

</manifest>
